.products{
    width: 100vw;
    height: 100vh;
    
    display: flex;

    >.product-container{
        width: calc(100% - 200px);
        height: 100vh;
        display: flex;
        flex-direction: column;
        >.header{
            width: 100%;
            height: 100px;
            display: flex;
            padding-top: 20px;
            justify-content: space-around;
            align-items: center;
           
            >.title{
                font-size: 20px;
                font-weight: 700;   
            }
            >.dept-dropdown{
                width: 140px;
               position: relative;
               >.dept-options{
                position: absolute;
                top: 25px;
                left: 20px;
               } 
            }
            >.sort-dropdown{
                width: 140px;
               position: relative;
               >.sort-options{
                position: absolute;
                top: 25px;
                left: 20px;
               } 
            }

            >.newProduct{
                padding-right: 20px;
                >.new-button{
                    width: 60px;
                    height: 30px;
                    background-color: rgb(106, 106, 197);
                    color: white;
                    font-size: 14px;
                    border-radius: 10px;
                }
            }
        }
        >.hori{
            width:(100%);
            height: 1px;
            background-color: black;
        }

        >.product-main-container{
            >table{
                width: 100%;
                margin-top: 20px;
                >thead{
                    width: 100%;
                    height: 60px;
                }
                >tbody{
                    padding: 10px;
    
                    >.tbody-row{
                        padding: 30px;
                        >.product-image{
                            width: 250px;
                            height: 150px;
                            padding: 0 40px;
                            >.image{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        >.name{
                            width: 100px;
                            margin: 0 10px;
                            font-size: 14px;
                            
                        }
                        >.description{
                            width: 500px;
                            font-size: 12px;
                            padding: 40px;
                        }
                        >.price{
                            width: 150px;
                        }

                        >.stock{
                            width: 150px;
                        }

                    }
                }
            }
        }
    }
}